body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}

.content {
    max-width: 1770px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}