.header {
    height: 45px;
    background-color: #333333;
}

.title__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        // padding-left: 10px;
        // justify-content: start;
    }
}

.title {
    display: flex;
    flex-direction: column;
    background-image: url(../img/layers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    padding-top: 40px;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.title__wrap-logo {
    margin-left: 73px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #222222;

    @media screen and (max-width: 992px) {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        display: inline;
    }
}


.title__wrap-menu {
    margin-left: auto;
}

.title__menu {
    display: flex;
    list-style-type: none;

    @media screen and (max-width: 1200px) {
        display: -webkit-box;
    }

    @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 200px;
    }

    @media screen and (max-width: 564px) {
        margin-top: 100px;
        display: block;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 0;
    }
}

.title__list {
    position: relative;
    padding-bottom: 14px;
}

.title__list:hover .title__nav {
    color: #00c8c8;
}


.title__arrow {
    position: absolute;
    left: 54px;
    bottom: 10px;
    width: 10px;
    height: 10px;
    border-left: 1px solid #989898;
    border-bottom: 1px solid #989898;
    transform: rotate(-45deg);
}

.title__list:hover .title__arrow {
    border-color: #00c8c8;
}

.title__hover {
    display: none;
    margin-left: 45px;
    top: 50px;
    width: 467px;
    height: 549px;
    color: black;
    position: absolute;
    background-color: #f8f8f8;
    box-shadow: 0 0 23px #00000099;
}

.title__nav {
    padding-left: 49px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    letter-spacing: 0.05em;

    @media screen and (max-width: 1200px) {
        padding-left: 20px;
    }

    @media screen and (max-width: 992px) {
        padding-left: 10px;
    }
}

a:hover {
    color: #00c8c8;
}

.hover__submenu {
    display: flex;
    justify-content: space-evenly;
    padding-right: 74px;
    font-size: 14px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 32px;
    padding: 8px 131px 0 21px;
}

.title__list:hover .title__hover {
    display: block;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.casual-menu {
    margin-top: 20px;
    padding-right: 85px;
}

.formal-menu {
    margin-top: 20px;
}

.hover__name {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #575153;
}

li {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #727272;
}

.casual-menu__nav {
    color: #727272;
}

.formal-menu__nav {
    color: #727272;
}

.hover__text {
    width: 407px;
    height: 200px;
    background-color: #333333;
    margin: 0 auto;
}

.hover__pharagraf {
    text-align: center;
    font-size: 36px;
    line-height: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-top: 44px;
    margin-top: 35px;
}

label {
    position: relative;
}

input {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 27px;
    font-weight: 300;
    color: #989898;

    @media screen and (max-width: 564px) {
        width: 130px;
    }
}

.input__btn {
    background-image: url(../img/serch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 22px;
    position: absolute;
    right: 22px;
    top: 0;
    color: rgba(240, 255, 255, 0);
}

.title__btn {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #454647;
    width: 342px;
    height: 59px;
    border: 2px solid #737373;
}

.title__wrap-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 121px;
    padding-right: 180px;

    @media screen and (max-width: 768px) {
        margin-top: 200px;
    }

    @media screen and (max-width: 564px) {
        margin-top: 100px;
    }
}