.product {
    @media screen and (max-width: 1200px) {
        // margin-left: 17%;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.product__divider {
    color: #979494;
    margin-top: 63px;
}

.product__nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        margin: 0;
    }
}

.product__list {
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
        padding: 5px;
    }
}


.grid {
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "item1 item2 item3 item3"
        "item1 item2 item3 item3"
        "item4 item4 item3 item3"
        "item4 item4 item5 item6"
        "item4 item4 item5 item6"
    ;

    @media screen and (max-width: 1200px) {
        // margin: 0 auto;
        // text-align: center;
        // margin-left: 100px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas:
            "item1 item2"
            "item3 item3"
            "item3 item3"
            "item4 item4"
            "item4 item4"
            "item5 item6";
    }

    @media screen and (max-width: 992px) {
        margin-top: 10px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-areas:
            "item1 item2"
            "item3 item3"
            "item4 item4"
            "item5 item6";
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 300px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6";
    }

}

.item1 {
    grid-area: item1;
    background: url("../img/container_845.png");
}

.item2 {
    grid-area: item2;
    background: url("../img/container_849.png");
}

.item3 {
    grid-area: item3;
    background: url("../img/container_870.png");
}

.item4 {
    grid-area: item4;
    background: url("../img/container_819.png");
}

.item5 {
    grid-area: item5;
    background: url("../img/container_853.png");
    background-repeat: no-repeat;
}

.item6 {
    grid-area: item6;
    background: url("../img/container_857.png");
}