header {
    background-color: red;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: white;
    text-align: center;
}


main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.img-car {
    display: flex;
    justify-content: center;
   
   
}
.cars {
    border: 3px dashed black;
    margin: 1px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.sunset {
width: 100%;
}